h1 {
  text-align: center;
  font-family: Courier, monospace;
}

ul.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.project {
  margin: 10px;
  width: calc(33.33% - 20px); /* Adjust the width as needed for three columns */
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

.project-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center; /* Center the text */
  font-family: Courier, monospace;
}

.project-iframe {
  display: flex;
  justify-content: center;
}
