h1 {
    text-align: center;
    font-family: Courier, monospace;
    }
    
    ul {
    text-align: center;
    font-family: Courier, monospace;
    list-style: none;
    padding: 0;
    }
    
    li {
    margin: 10px;
    }
    .project-link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
      }
      
      
      .project-iframe {
        display: flex;
        justify-content: center;
      }
      